.card {
	padding: 15px;
    height: 200px;
    width: 500px;
    background: rgba(0, 0, 0, 0.25);
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
    /*border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;*/
}
.card img {
	float: left;
    height: 200px;
    width: 150px;
}
.card .content {
	float: left;
    margin-left: 15px;
    height: 200px;
    width: 335px;
    position: relative;
}
.card .name {
	text-align: center;
    font-size: 28px;
    font-weight: normal;
}
.card .moto {
	text-align: center;
    font-size: 18px;
    margin: 5px 0 5px 0;
    max-width: 100%;
}
.card .contact {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 30px;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 768px) {
    .card {
        width: auto;
        background: rgba(0, 0, 0, 0.4);
        text-shadow: #000 0px 0px 5px;
    }

    .card .content {
        width: calc(100% - 150px - 15px);
    }

    .card .moto {
        font-size: 15px;
    }
}